<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ebrainzone.library" version="0.1.0">
  <name>Library</name>
  <description>
    Library App
  </description>
  <author email="brendon@ebrainzone.com">
    Brendon
  </author>
  <preference name="EnableDeveloperConsole" value="$IS_DEBUG" />
</widget>
